*{
    margin: 0px;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    /* background-color: rgba(70, 169, 194,0.5); */
    background-color: rgb(240, 240, 240);
    font-family:Poppins ; 
    height: 100vh;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px;
    z-index: 100;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
h1{
    font-size: 5rem;
    color: #4A494B;
}

.album{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
    /* gap: 20x 20px; */
    /* height: 100%; */
    gap: 20px;
    padding-top: 3rem;
}
.cards{
    /* width: 33.33%; */
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* height: 900px; */
    align-self: stretch;
}
.cards:hover{
    background-color: white;
    box-shadow: 0px 1px 1px 1px grey;
    border-radius: 6px;
    /* align-self: stretch; */
}
.card-image{
    width: 100%;
    border-radius: 1rem;
}
.card-image-a{
    background-color: white;
    border-radius: 6px;
    padding: 2rem;
    
}
.card-content{
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: space-between;
    height: 100%;
}
.card-content-heading{
    font-size: 30px;
    color: #4A494B;
    text-decoration: none;
}
.card-content-heading:hover{
    color: #285064;
}
.click-here{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #285064;
    padding: 1rem;
    border-radius: 1rem;
    font-size: x-large;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.click-here:hover{
    background-color: rgb(70,90,100);
}
@media only screen and (max-width: 1300px){
    .cards{
        width: calc(50% - 20px);
    }
}
@media only screen and (max-width: 800px){
    .cards{
        width: 100%;
    }
    
    h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 400px){
    .card-image-a{
        padding-left: 0px;
        padding-right: 0px;
    }
    .card-content{
        padding-top: 0px;
    }
    .album{
        padding-top: 0px;
    }
    .cards{
    }
}
