main{
    width: 100%;
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .hero-sec{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .hero-content{
                z-index: 1;
                position: absolute;
                top: 40%;
                left: 25%;
                gap: 3rem;
                display: flex;
                flex-direction: column;

                h1{
                    font-size: 16px;
                    font-style: italic;
                    color: $body-text-tertiary;
                    background-color: $secondary;
                    padding: 1rem;
                    font-family: $text-style-primary;
                    font-weight: 900;
                    width: fit-content;
                }
                h2{
                    font-size: 32PX;
                    color: $body-text-primary;
                    background-color: $primary;
                    padding: 1rem;font-family: $text-style-primary;
                    max-width: 612px;
                    align-self: center;
                    font-weight: 700;
                }
                a{
                    text-decoration: none;
                    color: $body-text-tertiary;
                    font-family: $text-style-primary;
                    font-weight: 800;
                    font-size: 14px;
                    background-color: $tertiary;
                    padding: 1rem 3rem;
                    width: max-content;
                    transform: skew(-20deg);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self:flex-end;
                    position: relative;
                    z-index: 200;
                }
                a::before{
                    content: ''; 
                    // width: 70%;
                    height: 100%;
                    background-color: $secondary;
                    // opacity: 0.5;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                a:hover::before{
                    animation: btn-ani 1s ease-in 0s 1 normal both;
                }

                @keyframes btn-ani {
                    0%{
                        width: 0%;
                    }
                    100%{
                        width: 75%;
                    }
                }
            }
            h2{

            }
            a{

            }
        }

    }
}