$primary: #000000 !default;
$secondary:#ffd900 !default;
$tertiary: #ffffff !default;
$body-text-primary: #ffffff;
$body-text-secondary: #ffc400;
$body-text-tertiary: #000000;
$text-style-primary: sans-serif;
